/*

Based on files from https://github.com/idleberg/base16-prism

Name:       Base16 Tomorrow Light
Author:     Chris Kempson (http://chriskempson.com)

Prism template by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/prism/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

 */

code[class*="language-"],
pre[class*="language-"] {
  color: #ffffff;
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  word-spacing: normal;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background: #ffffff;
  color: #373b41;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #b4b7b4;
}

.token.punctuation {
  color: #373b41;
}

.namespace {
  opacity: .7;
}

.token.null,
.token.operator,
.token.boolean,
.token.number {
  color: #f5871f;
}
.token.property {
  color: #eab700;
}
.token.tag {
  color: #4271ae;
}
.token.string {
  color: #3e999f;
}
.token.selector {
  color: #8959a8;
}
.token.attr-name {
  color: #f5871f;
}
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #3e999f;
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
  color: #718c00;
}

.token.statement,
.token.regex,
.token.atrule {
  color: #3e999f;
}

.token.placeholder,
.token.variable {
  color: #4271ae;
}

.token.important {
  color: #c82829;
  font-weight: bold;
}

.token.entity {
  cursor: help;
}

pre > code.highlight {
  outline: .4em solid red;
  outline-offset: .4em;
}
